<html>
	<head>
		<title>
			VTX-NODEGRAM
		</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/profileStyle.css">
	</head>
	<body>
		<div class="app">
			<div class="title">
				<h1>NodeGram</h1>
				<h2>Your Pictures</h2>
			</div>
			<form action="/image" method="post" enctype="multipart/form-data" id='form'>
				<label>
				  <input type="file" name='imageFile' id='file'/>
				  <span>+</span>
				</label>
					<!-- <button type="submit">Upload</button> -->
				
				<!-- <div class="output">
					
				</div> -->
			  </form>
			  <!-- 111111111111111111111111111111111 -->
				<div class="img-grid">
					<!-- 2222222222222222222222222222222222222  -->
				
				<% if(files) { %>
					<%  for(let i = 0; i < files.length; i++) { %>
						<div class="img-wrap" style="transform: translate3d(0px, 0px, 0px) scale(1); transform-origin: 50% 50% 0px;">
							<img src="<%= '\\' + files[0].path.split('/').slice(1).join('/') %>" alt="image" style="opacity: 1;" />
						</div>
					<% } %>    
				<% } else { %>
					<p>Files not found</p>
				<% } %>

			</div>
			  	
			
		
			</div>
			<script>
				document.getElementById("file").onchange = function() {
					document.getElementById("form").submit();
				}
			</script>
	</body>
</html>